.login form{
    /* display: flex; */
    flex-direction: column;
    border: none;
    padding: 0 80px;
}

.login{
    border: 1px solid white;
    padding: 20px;
    width: 550px;
    margin: 70px  auto;
    border-radius: 18px;
}

.login{
    text-align: center;
    min-height: 100vh;
    justify-content: center;
    background-position: fixed;
    background-size: cover;
    background-image: linear-gradient(76deg, #1b0580, #e77b16 48%, #df66a8 );
}

label{
    text-align: left;
    padding: 0.25rem 0;
    font-size: 20px;
}

input{
    padding: 10px;
    width: 300px;
    border-radius: 12px;
    font-size: 18px;
    outline: none;
}

button{
   width: 320px;
   margin: 15px 0;
   padding: 10px;
   font-size: 25px;
   border: none;
   background-color: #1b0580;
   color: #e77b16;
   border-radius: 12px;
   cursor: pointer;
}

p{
    margin: 0 100px;
    font-size: 17px;
}

.login form > div{
    margin: 17px 0;
    border: none;
}

.login form button{
    margin: 0 30px;
    width: 320px;
    cursor: pointer;
}

.login p{
    margin: 15px 100px;
    font-size: 17px;
}

.login span:hover{
    cursor: pointer;
    text-decoration: underline;
}